<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zubairriaz.lore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".infrastructure.LoreApplication">
        <activity android:name=".activities.LoginActivity"
                  android:theme="@style/LoginwithNoActionBar" />
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.ExternalLoginActivity"/>
        <activity android:name=".activities.LoginNarrowActivity"
                     android:theme="@style/LoginwithNoActionBar"/>
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>


            </intent-filter>



        </activity>

    </application>

</manifest>
